.dropdown-menu {
    width: 300px !important;
    height: 400px !important;
}

#head_logo{
  font-weight: 800;

}
#div9{

  background-color: beige;

}
#headerdiv{

    height: 20%;

}
#search_div{




}
#form_jcs {

  padding: 5px;
}
